# Python virtual environment
venv/

# Bytecode and caches
__pycache__/
*.pyc

# Logs and SQLite
*.log
*.sqlite3

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# VS Code config (optional)
.vscode/
