# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
venv/

# Environment files
.env

# Ignore model weights (optional if using gdown)
*.pth

# VS Code or JetBrains IDE configs (optional)
.vscode/
.idea/
